.calc {
    background: rgb(32, 56, 122);
    color: aliceblue;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 6px black;
}
.calc input {
    background: rgb(113, 113, 190);
    color: rgb(8, 11, 14);
    border-radius: 5px;
    padding: 5px;
}
.calc input:focus {
    background: black;
    color: aliceblue;
}
#spTotal {
    background: rgb(7, 7, 7);
    color: rgb(245, 184, 16);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}
.calc button {
    background: rgb(90, 194, 194);
    color: rgb(16, 22, 105);
    border-radius: 10px;
    padding: 5px;
    margin-top:  10px;
}
.calc button:hover {
    background: cadetblue;
    color: cornsilk;
    cursor: pointer;

}

#spLista {
    text-align: start;
    border-style: dotted;
    border-color: yellow;
    border-width: 1px;
    border-radius: 4px;
    background: whitesmoke;
    color: rgb(20, 20, 128);
}
.calcF {
    display: none;
}
#input-calcFin {
    display: none;
}
#input-calcFin:checked + .calc .calcF {
display: block;
}
